VITE_FIREBASE_API_KEY=AIzaSyDrIL2YtX051l46ingnpaQ4TeQ6gd3IryE
VITE_FIREBASE_AUTH_DOMAIN=english-bba01.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=english-bba01
VITE_FIREBASE_STORAGE_BUCKET=english-bba01.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=929554384670
VITE_FIREBASE_APP_ID=1:929554384670:web:a1dff47e614b160dcd6b0f
